<!-- <h1><%= current_user.name %></h1>
<% if current_user.admin? %>
  <span>
    <strong>Administrator</strong>
  </span>
<%end%>
<% if current_user.admin? && !current_user?(user) %>
  |
  <%= link_to "delete", user, method: :delete, data: { confirm: "Sure you want to delete user [ #{user.name} ]" } %>
<% end %> -->